* {
    box-sizing: border-box;
}

[data-theme="dark"] {
    --body_background: #1c2541;
    --navbar_background: #596788;
    --text_color: white;
    --fourth_color: #eaecf0;
    --fifth_color: #eaecf0;
    --theme_transition: all 0.5s ease-in-out;
    --footer_upper_border:rgba(255, 255, 255,0.6);
    --copyRight:white;
}

[data-theme="light"] {
    --body_background: white;
    --navbar_background: #d6d6d6;
    --text_color: black;
    --fourth_color: #5c87ff;
    --fifth_color: #292D32;
    --theme_transition: all 0.5s ease-in-out;
    --footer_upper_border:rgba(128, 128, 128,0.4);
    --copyRight:#667085;
}



